<DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <title>{% block 'titulo' %} {% endblock %}</title>
            {%block 'head'%}
            
            {% endblock %}
        </head>
        <body>
            <header>
                {% block 'cabeça'%}
                
                
                {% endblock %}
            </header>
            <br>
            <main>
                {%block 'corpo'%}

                {% endblock %}
            </main>
            <br>
            <footer>
                {% block 'pe' %}

                {% endblock %}
            </footer>
        </body>
    </html>

