<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chave estrangeira</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body class="corpo">
    <header>

    </header>
    <main>
        <h3>
            Faça seus registros aqui:
        </h3>
        <br>
        <form method="POST" action="{% url 'chave_estrangeira' %}">
            {% csrf_token %}
            <input type="text" placeholder="digite seu nome..." name ="nome">
            <input type="email"placeholder="Digite seu email.." name = "email">
            <input type="password" placeholder="Digite sua senha" name = "senha">
            <input type="number" placeholder="Digite seu o id do seu cargo" name = "cargo_id">
            <br>
            <br>
            <input type="number" placeholder="a ID" name = "id">
            <input type="text" placeholder="digite nome seu cargo" name = "nome_trabalho">
            <button type="submit">Enviar</button>
        </form>
        <br>
            <a href="5">Ver dados</a>
    </main>
    <footer>

    </footer>
</body>
</html>