<!DOCTYPE html>
<html lang="pt-br">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo -->
    {%block 'titulo'%}
        Tela1
    {% endblock %}


    <!-- Cabeçalho -->
    {% block 'head' %}
        <link rel="stylesheet" href="{% static 'CSS/css.css'%}">
    {% endblock %}
</head>
<body>
    {% block 'cabeça' %}
        <p>Cabeça</p>
    {% endblock %}

    {% block 'corpo' %}
      <!-- <form method="GET" action="{% url 'tela_url' %}"> -->
      <form method="POST" action="{% url 'tela_url' %}">
        {% csrf_token %}
        <input type="text" placeholder="Digite seu nome..." name="nome" >
        <input type="email" placeholder="Digite seu email.." name="email">
        <input type="submit">
        <br>
        <br>
        Nome : {{nome}}
        <br>
        Email : {{email}}

      </form>
    {% endblock %}

    {% block 'pe' %}
        <p>pé</p>
    {% endblock %}
</body>
</html>