<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de todos os dados</title>
    <link rel="stylesheet" href="{% static 'CSS/css.css'% '}">
    <style>
        .corpo{
            background-color:gray;
        }
        
    </style>
</head>
<body class = "corpo" >
    <header>
        <section>
            <a style="border: 2px solid rgb(9, 47, 217); color: rgb(246, 246, 14);float:left;" href="http://127.0.0.1:4312/telas/formulario/">Voltar para os cadastros</a>  
        </section>
    </header>
    <div>
    </div>
    <section>
        <div></div>
            <main>
            {% for x,y in os_dados,pessoas %}
                <div style="border: 0.5px solid black;">
                    <br style="padding: 5%;">
                    <ul>
                        <li>Nome : {{x.name}}</li>
                        <br>
                        <li>Idade : {{x.idade}}</li>
                        <br>
                        <li>Email: {{x.email}}</li>
                        <br>
                        <li>Endereço: {{x.endereço}}</li>
                        <br>
                        <li>Cargo : {{y.nome}}</li>
                    </ul>
                </div>
            </main>
            <br>
        {% endfor %}
    </section>
</body>
</html>